{% extends 'base.html'%}
{% block title %} Create New Profile  Page {% endblock %}
{% block content %}
    
  
{% if user.is_authenticated %}

<h1>Create Profile Page...</h1>
    <br><br/>
    <div class="mb-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}

    <button class="btn btn-dark">Create Profile Page</button>
    </div>

    {% comment %} <script>
        var name = "{{ user.id }}";
        document.getElementById("elder").value = name;

    </script> {% endcomment %}

{% else %}
    You're not allowed here!

{% endif %}

{% endblock %}





