{% extends 'base.html'%}
{% block title %} Log In {% endblock %}
{% block content %}
    

<h1>Log In...</h1>
    <br><br/>
    <div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>

        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
           

            </div>
    </form>
        <br/>
    <button class="btn btn-dark">Log In </button>
    </div>

    <br/>

    Not A Registered? Sign Up <a href="{% url 'register' %}"> Here...</a>

{% endblock %}